<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stage</title>
</head>
<body>
<div>
    <h1>Users list</h1>
</div>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>USERNAME</th>
        <th>E-MAIL</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>

    <tr th:each="user : ${users}">
        <td th:utext="${user.id}">id</td>
        <td th:utext="${user.username}">name</td>
        <td th:utext="${user.email}">email</td>
        <td>

            <button type="submit" th:object="person">
                <a th:href="@{/{id}/edit(id=${user.getId()})}">Edit</a>
            </button>

        </td>
        <td>
            <form th:method="DELETE" th:action="@{/delete/{id}(id=${user.getId()})}" th:object="${user}">
                <input type="hidden" name="id" th:value="${user.getId()}">
                <button type="submit">delete user</button>
            </form>

        </td>

    </tr>
</table>
<br/>

<hr/>
<div>
    <div>
        <button onclick="window.location.href ='new'"><span>Create new user</span>
        </button>
    </div>
</div>
</body>
</html>