<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <title>Stage</title>
</head>
<body>
<div>
    <h1>Users list</h1>
</div>
<div th:each="user : ${users}">
    <a th:href="@{/{id}(id=${user.getId()})}"
       th:text="${user.getUsername() + ', ' + user.getEmail()}">user</a>
</div>
<div>
    <div>
        <button onclick="window.location.href ='new'"><span>Create new user</span>
        </button>
    </div>
</div>
</body>
</html>